// Utilities
@import "utilities/variables";

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // scroll-behavior: smooth;

  body {
    background-color: $white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    .app {
      position: relative;
      overflow: hidden;

      .design {
        width: 700px;
        height: 350px;
        border-top-left-radius: 170px;
        border-bottom-left-radius: 170px;
        background: $color-primary;
        transform: rotate(-50deg);
        // border-radius: 50%;
        position: absolute;

        opacity: 20%;
        right: -150px;
        top: 20px;
        z-index: -5;
      }

      .design2 {
        width: 600px;
        height: 350px;
        border-top-left-radius: 170px;
        border-bottom-left-radius: 170px;
        background: $color-primary;
        transform: rotate(140deg);
        // border-radius: 50%;
        position: absolute;
        opacity: 20%;
        right: 1000px;
        top: 1050px;
        z-index: -5;

        @media (max-width: 992px) {
          transform: rotate(-50deg);
          width: 650px;
          height: 350px;
          right: -400px;
          top: 670px;
        }
      }
    }

    // @media (max-width: 992px) {
    //   padding: 0;
    // }
  }
}
