// Utilities
@import "../../utilities/variables";

.reviews {
  color: $color-secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 7rem;

  .carousel {
    margin-top: 3rem;

    .slick-slide div {
      margin: 0 0.5rem;
      margin-right: 1.5rem;

      .box {
        padding: 1rem;
        background-color: #f8f8f8;
        height: 12rem;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 3rem;
          margin-bottom: 1rem;
        }

        h3 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .btn {
    margin-top: 5rem;
    background-color: $color-primary;
    color: $white;
    padding: 0.5rem 1rem;

    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;

    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 /0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: scale 0.2 ease;

    &:hover {
      scale: 1.05;
      color: $white;
    }

    &:active {
      scale: 0.95;
    }
  }
}

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  margin-top: 7rem;
  background-color: $color-primary;
  height: 14rem;

  h1 {
    color: #fff;
    margin-right: 24rem;
  }

  .btn2 {
    height: 2rem;
    width: 8rem;
    background-color: $white;
    color: $color-primary;
    padding: 0 1rem;
    margin-bottom: 2.5rem;

    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;

    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 /0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: scale 0.2 ease;

    &:hover {
      scale: 1.05;
      color: #fff;
    }

    &:active {
      scale: 0.95;
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
    padding: 0 4rem;
    height: 22rem;
    margin-top: 4rem;

    h1 {
      text-align: center;
      margin-right: 0;
      margin-top: 4.5rem;
    }

    .btn2 {
      margin-bottom: 5rem;
    }
  }
}
