// Colors
$color-primary: hsl(12, 88%, 59%);
$color-primary-light: #fecfab;
$color-secondary: hsl(228, 39%, 23%);
$color-secondary-hover: hsl(227, 12%, 61%);
$white: hsl(0, 0%, 98%);
$black: hsl(233, 12%, 13%);
